.header__logo {
  background-image: url(../../../images/logo.svg);
  background-size: cover;
  height: 34px;
  width: 147px;
}

@media screen and (max-width: 762px) {
  .header__logo {
      margin: 0 0 0 27px;
      height: 25px;
      width: 108px;
  }
}
