.card__img {
  display: block;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  margin: 0;
  width: 282px;
  height: 282px;
  background-size: cover;
}

.card__img:hover {
  cursor: pointer;
}
