.profile__edit-btn {
  margin: 37px 0 34px 19px;
  height: 24px;
  width: 24px;
  border: 1px solid rgb(255, 255, 255);
  background-image: url(../../../images/edit_btn.svg);
  background-size: 10px;
  background-color: Transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 762px) {
  .profile__edit-btn {
      height: 18px;
      width: 18px;
      margin: 35px 0 0 10px;
  }
}
