.popup__window {
  position: relative;
  background: white;
  color: black;
  border-radius: 10px;
  min-width: 430px;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 762px) {
  .popup__window {
      min-width: 282px;
  }
}
