.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 68.75%;
  margin: 40px auto 47.25px auto;
}

@media screen and (max-width: 1024px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin: 42px auto 36px auto;
  }
}
