.card__delete {
  height: 19px;
  width: 18px;
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/delete_btn.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.card__delete:hover {
  cursor: pointer;
  opacity: 0.6;
}
