.profile__title {
  margin: 22px 0 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1274px) {
  .profile__title {
      margin: 26px auto 0;
      font-size: 27px;
      line-height: 32px;
      letter-spacing: 0.2px;
      max-width: 200px;
  }
}
