.header__button {
  border: none;
  background-color: transparent;
  color: #a9a9a9;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 620px) {
  .header__button {
    font-size: 1rem;
  }
}
